html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav{
    background-color: rgb(226, 122, 122);
    display: flex;
    font-size: 15px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    flex-wrap: wrap;
    color: cornsilk;
}

.nav ul{
  list-style: none;
}
.nav ul li{
  
  display: inline-block;
  padding: 10px;
}
.bag{
  background: url("/Shape_04.png");
  height: auto;
  width: auto;
}
.fl{
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 5%;
  flex-wrap: wrap;
}
.fol{
  color: white;
  font-size: xx-large;
  padding: 0%;
}
.fos{
  color: white;
  font-size: x-small;
}
.fom{
  color: white;
}
.flc{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 0%;
  padding-bottom: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
}
.fl2{
  display: flex;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 5%;
  flex-wrap: wrap;
  
}
.bor{
  border: rgb(9, 53, 95);
  background: rgb(175, 169, 167);
  border-radius: 2%;
  padding: 3%;
  flex-basis: 0%;
}
.btn{
  background: rgb(50, 76, 190);
  padding: 0.5%;
  margin-right: 2%;
}
.bag2{
  background: url("/Shape_05.png");
  width: auto;
  height: auto;
  align-items: center;
  margin-top: 20%;
}
.last{
  align-items: center;
  display: flex;
  flex-direction: column;
  
  color: rgb(151, 50, 50);
}
.pt{
  font-size: xx-small;
}
.pt2{
  font-size: x-large;
}
.btnw{
  background: white;
  margin-bottom: 4%;
  padding: 0.5%;
}